.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.paragraph{
  text-align: left;
  color: #6b88ff;
  padding-left: 50px;
}
.line{
  padding-left: 100px;
  color: #4872ff;
}
